body {
  text-align: center;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: #575757;
}

i {
  color: #4e69a2;
  font-size: 24px;
}

a > i {
  color: #575757;
}

i:hover {
  cursor: pointer;
}

.status-container {
  display: inline-block;
  background-color: #e6e9f2;
  width: 700px;
  height: 220px;
}

.status {
  display: inline-block;
  background-color: #fff;
  margin-top: 40px;
  width: 620px;
  height: 140px;
}

.status-menu-left {
  float: left;
}

.status-menu-left i {
  display: block;
  margin: 11px;
}

.status-menu-bottom {
  float: right;
  width: 560px;
  height: 48px;
  background-color: #e3e3e3;
}

.status-add {
  display: inline-block;
  margin-right: 130px;
}

.status-add i {
  margin-top: 6px;
  margin-right: 15px;
  margin-left: 10px;
}

.status-dropdown {
  position: relative;
  display: inline-block;
  left: -35px;
  top: -2px;
}

.status-dropdown-btn {
  background-color: #e3e3e3;
  border: none;
  font-size: 16px;
}

.status-dropdown-btn:focus, .status-dropdown-btn:focus i {
  background-color: #4e69a2;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content li:hover, .dropdown-content li:hover i {
  background-color: #4e69a2;
  color: #fff;
  cursor: pointer;
}

.show {
  display: block;
  position: absolute;
  padding: 0;
  left: -55px;
  top: 8px;
  width: 150px;
  background-color: #fff;
  border: 1px solid #141823;
  border-radius: 2px;
  z-index: 1;
}

.active-check {
  display: inline-block;
  float: left;
}

.show li {
  display: block;
  position: relative;
  padding: 10px;
  text-decoration: none;
}

.description {
  font-size: 9px;
}

.user-input {
  display: inline-block;
  position: relative;
  width: 560px;
  height: 90px;
  float: right;
  font-size: 18px;
  border: none;
  outline: none;
}

.status-post {
  display: inline-block;
  position: relative;
  left: -10px;
  top: -2px;
  background-color: #4e69a2;
  border: 1px solid;
  border-color: #435a8b #3c5488 #334c83;
  color: #fff;
  border-radius: 2px;
  width: 90px;
  height: 30px;
}
